In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
prices = pd.read_csv('./Nat_Gas.csv', parse_dates=['Dates'], dayfirst=True)
prices.set_index('Dates', inplace=True)

In [3]:
display(prices)

            Prices
Dates
2020-10-31   10.10
2020-11-30   10.30
2020-12-31   11.00
2021-01-31   10.90
2021-02-28   10.90
2021-03-31   10.90
2021-04-30   10.40
2021-05-31    9.84
2021-06-30   10.00
2021-07-31   10.10
2021-08-31   10.30
2021-09-30   10.20
2021-10-31   10.10
2021-11-30   11.20
2021-12-31   11.40
2022-01-31   11.50
2022-02-28   11.80
2022-03-31   11.50
2022-04-30   10.70
2022-05-31   10.70
2022-06-30   10.40
2022-07-31   10.50
2022-08-31   10.40
2022-09-30   10.80
2022-10-31   11.00
2022-11-30   11.60
2022-12-31   11.60
2023-01-31   12.10
2023-02-28   11.70
2023-03-31   12.00
2023-04-30   11.50
2023-05-31   11.20
2023-06-30   10.90
2023-07-31   11.40
2023-08-31   11.10
2023-09-30   11.50
2023-10-31   11.80
2023-11-30   12.20
2023-12-31   12.80
2024-01-31   12.60
2024-02-29   12.40
2024-03-31   12.70
2024-04-30   12.10
2024-05-31   11.40
2024-06-30   11.50
2024-07-31   11.60
2024-08-31   11.50
2024-09-30   11.80

In [14]:
def contract(injection, withdraw, prices, rate, volume, transportation, storage_cost):
    #check whether the contract is feasible i.e. not violate the volume
    prices['Injection'] = np.where(prices.index.isin(injection), rate, 0)
    prices['Withdraw'] = np.where(prices.index.isin(withdraw), rate, 0)
    prices['Current Amount'] = prices['Injection'].cumsum() - prices['Withdraw'].cumsum()
    if (prices['Current Amount'] >= 0).all() and (prices['Current Amount'] <= volume).all():
        # total storage cost
        months = (prices['Current Amount'] != 0).sum()
        total_storage_cost = storage_cost * months
        # marginals
        marginal = (prices['Withdraw'] * prices['Prices']).sum() - (prices['Injection'] * prices['Prices']).sum()
        # transportation
        trans_cost = transportation * (len(injection) + len(withdraw))
        # total cost
        total = marginal - total_storage_cost - trans_cost
        return(total)
    else:
        print('infeasible contract!')

In [17]:
injection = pd.to_datetime(['2021-05-31', '2022-04-30', '2023-07-31'])
withdraw = pd.to_datetime(['2022-01-31', '2022-12-31', '2023-12-31'])
rate = 5000
volume = 15000
transportation = 100
storage_cost = 500

In [18]:
contract(injection, withdraw, prices, rate, volume, transportation, storage_cost)

-30900.0